/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

@font-face {
  font-family: classico-urw-regular;
  src: url(Assets/classico-urw-regular.ttf);
}

:root {
  --gap: 2rem;
  --top-gap: 8rem;
  --around-gap: 4rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "classico-urw-regular", sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  height: 100%;
  margin: 0 auto;
  color: #232323;
  background: #fff;
}

main-content {
  /* display: flex;
  width: 100%; */
  /* height: 600px; */
}

#header {
  /* background-color: green; */
  /* height: 400px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  z-index: 999;
  padding: 0 var(--around-gap, 4rem);
  pointer-events: none;
}

#header .push {
  position: relative;
}

.push {
  max-width: 1120px;
  margin: 0 auto;
}

.selector-icon {
  /* stroke: #232323; */
  stroke: red;
  stroke-width: 2;
}

.selector .selector-icon {
  transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
  transform-origin: center 70%;
  fill: none;
  stroke: red;
  stroke-width: 2;
}
.menu-main-open .selector .selector-icon {
  transform: rotate(-135deg);
  stroke: #fff;
  z-index: 999999;
}

.menu-main-open .pitis {
  fill: red;
}

.selector {
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-area: selector;
  cursor: pointer;
  float: right;
  margin-right: -38px;
  border-radius: 0;
  width: 75px;
  height: 150px;
  z-index: 999;
  display: block;
  background: 0 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  pointer-events: auto;
}

.selector {
  width: 120px;
  height: 240px;
  margin-right: -61px;
}

button {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 3px;
  background: 0 0;
  line-height: 1;
  cursor: auto;
}

.temptext-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-color: rgb(245, 245, 245);
  /* width: 300px; */
}

.temptext {
  margin: 40px;
  padding: 20px;
  width: 400px;
  border: 1px solid;
  text-align: center;
}

/* MENU NAV */
nav ul,
nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-main-open #menu {
  transform: translateX(0);
}
#menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #898888;
  background: #111;
  padding: 2rem;
  transition: transform 1s cubic-bezier(0.22, 1, 0.22, 1);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(calc(100% + 2rem));
  z-index: 999;
}

#menu {
  background-color: #232323;
  color: #898888;
  pointer-events: auto;
}

#menu .menu-item {
  font-size: 2.5em;
  text-transform: uppercase;
}

#menu a:hover,
#menu .current-menu-item a {
  color: #fff;
}

#menu a {
  color: #898888;
  transition: opacity 0.35s ease;

  line-height: 2em;
  letter-spacing: 0.3rem;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-main {
  /* border: 1px red solid; */
}

a {
  color: #232323;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/* MENU NAV END*/

.main-content {
  padding: 100px 40px 100px 40px;
}

/* gallery experiment */
.p--item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  padding-top: 100px;
  /* padding-left: 40px;
  padding-right: 40px; */
}

.post {
  width: 100%;
  /* height: 400px; */
  position: relative;
  cursor: pointer;
}

.post:hover .post-s {
  transform: translate(0);
}

.post img {
  display: block;
  width: 100%;
  /* height: 400px; */
  pointer-events: none;
}

.post-s {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
  text-transform: uppercase;
}

.post-s.post-left {
  transform: translate(-100%);
}

.post-s.post-right {
  transform: translate(150%);
  /* font-size: small; */
  font-weight: normal;
  color: #232323;
}
